h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: Url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job545-wit-31.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=631bc7a3af2f83ae1c4566602e068980");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width: 10px;
background-color: #ffffff;
border-style: ridge;

}
